.button {
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  background-color: #aaaaaa;
  cursor: pointer;
  width: fit-content;
  color: #000000;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #cccccc;
}

a {
  text-decoration: none;
}