.listselector {
  transition: background-color 0.2s ease-in-out;
  padding: 10px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  background-color: #eee;
  color: rgb(75, 75, 75);
  cursor: pointer;
  box-shadow: 5px 5px 5px rgb(133, 133, 133);
  margin: 10px 20px 0px 20px;
}

.listselector_selected {
  background-color: #aaa;
  color: black;
}

.listselector_label {
  /* font-size: 20px; */
  vertical-align: middle;
  padding-top: 13px;
  padding-left: 10px;
}

.listselector img {
  width: 50px;
  height: 50px;
  margin: 5px;
  margin-right: 10px;
}

.listselector:hover {
  background-color: #bbb;
  margin: 10px 22px 0px 18px;
  box-shadow: 9px 5px 5px rgb(133, 133, 133);
}