.colorpicker_color {
  width: 25px;
  height: 25px;
  border-radius: 2px;
}

.colorpicker_swatch {
  padding: 2px;
  background-color: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  width: fit-content;
}

.colorpicker_popover {
  position: absolute;
  z-index: '2';
}

.colorpicker_cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}